{% extends "base.html" %}
{% load static %}

{% block title %}
    About
{% endblock title %}

<!-- About Me Section -->
{% block content %}
<section class="about-me" id="about">
    <h1 class="section__title section__title--about">
    	Hi, I'm Aaron.
    </h1>

    <p class="section__subtitle section__subtitle--about">
    	Aspiring Web Developer | Nike Part-Time Athlete
    </p>
    
    <div class="about-me__body">
        <p>I am recent graduate of California State University, Long Beach with a Bachelor's of Arts in Asian-American Studies. I decided to pursue a different route during the pandemic and looked into Web Development! Although learning remotely was different, it gave me a new perspective of how technology is direclty linked with customers and how important it is to keep learning about new technologies.</p>

        <p>I have always been interested with how technology works. I have been able to build multiple PC's, as well as my own, build a multiple applications, such as a stock ticker utilizing React or my own portfolio (This one you are currently on!).</p>

        <p>Currently, I work at Nike as a Sales Associate in which I found a passion in helping people, while trying to find ways to boost sales. Some fun hobbies I currently do includes dancing, going to the gym or just relaxing and reading a good book.</p>
    </div>

    <img src="/../static/img/headshot.jpg" alt="aaron headshot" class="about-me__img">
</section>

<!-- About Me  -->
{% endblock content %}