{% extends "base.html" %}
{% load static %}

{% block title %}
    Contact
{% endblock title %}

{% block content %}
    <section class="contact-me" id="contact">
        <h1 class="section__title section__title--contact">
            Contact
        </h1>
        <div class="contact-me__body">
            <p>Thank you for checking out my Portfolio Website. As I continue learning more, I want to be able to apply my knowledge here or on other projects I am doing. Thank you again for your time.</p>

            <p>If you have any questions or comments, please feel free to reach out to me or on any other sites that I have linked.</p>
        </div>

        <div class="mx-auto contact-me__icons">
            <!-- Github Link -->
            <a href="https://github.com/aaronvito1">
                <i class="bi bi-github"></i>
            </a>
            <!-- LinkedIn Link -->
            <a href="https://www.linkedin.com/in/aaron-vito-b45152140/">
                <i class="bi bi-linkedin"></i>
            </a>
            <!-- Gmail Link -->
            <a href="https://mail.google.com/mail/?view=cm&source=mailto&to=[aaronvito97@gmail.com]">
                <i class="bi bi-google"></i>
            </a>
        </div>

    </section>

{% endblock content %}