{% extends "base.html" %}
{% load static %}

{% block title %}
  Portfolio
{% endblock title %}

{% block content %}
<section class="container portfolio-header">
 <!-- Header Start -->
      <h2>Portfolio</h2>
      <h3>Here are some projects I have been working on</h3>
    <!-- Header End -->

            <!-- Card 3 -->
            <a href="https://github.com/aaronvito1">
            {% for repo in github_repos %}
            <div class="card shadow">
              <div class="card-header">
                <a href="{{ repo.html_url }}"> {{ repo.name }} </h6>
              </div>
            </div>
            {% endfor %}
</section>

{% endblock content %}